In [1]:
print("This is my prog")

This is my prog

In [2]:
l=[1,2,3,4,5]

In [3]:
len(l)

5

In [4]:
def test():
    pass

In [6]:
def test1():
    print("This is my very very first fun")

In [7]:
test1()

This is my very very first fun

In [8]:
test1()

This is my very very first fun

In [9]:
test1()+"Bappy"

This is my very very first fun

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
def test2():
    return "This is my fun with return"

In [11]:
test2()

'This is my fun with return'

In [14]:
test2()+ " Bappy"

'This is my fun with return Bappy'

In [15]:
def test3():
    return 1, 4, "Bappy" , 34.56

In [16]:
test3()

(1, 4, 'Bappy', 34.56)

In [17]:
a = 1,2,3,4,5

In [18]:
a

(1, 2, 3, 4, 5)

In [19]:
a,b,c,d, = 1,2,34.56,True

In [20]:
a

1

In [21]:
b

2

In [22]:
c

34.56

In [23]:
d

True

In [25]:
test3()

(1, 4, 'Bappy', 34.56)

In [26]:
test3()[1]

4

In [27]:
test3()[2]

'Bappy'

In [28]:
test3()

(1, 4, 'Bappy', 34.56)

In [29]:
a,b,c,d = test3()

In [30]:
a

1

In [31]:
b

4

In [32]:
c

'Bappy'

In [33]:
d

34.56

In [34]:
def test4():
    a = 3*4 +5
    return a

In [35]:
test4()

17

In [36]:
type(test4())

int

In [38]:
def test5(a,b):
    c = a + b
    return c

In [39]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [40]:
test5(1,3)

4

In [43]:
test5("Bappy","Barman")

'BappyBarman'

In [44]:
test5([1,2,3,4],[4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [45]:
test5(b= "Bappy",a= "Barman")

'BarmanBappy'

In [46]:
l = [1,2,3,4,5,"Bappy","pwskills",[1,2,3,34,45]]

In [47]:
#Create a function which will take list as a input and give me a final list with the numeric value

In [48]:
def test6(l):
    n = []
    for i in l :
        if type(i)== int or type(i) == float :
            n.append(i)
    return n

In [49]:
test6(l)

[1, 2, 3, 4, 5]

In [50]:
l

[1, 2, 3, 4, 5, 'Bappy', 'pwskills', [1, 2, 3, 34, 45]]

In [51]:
def test7(a) :
    n = []
    for i in a :
        if type(i) == list :
            for j in i :
                if type(j) == int or type(j) == float :
                    n.append(j)
        else :
            if type(i) == int or type(i) == float :
                n.append(i)
    return n

In [52]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]